In [1]:
import os
import sys
from functools import reduce
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, MetaData, Integer
from sqlalchemy import inspect
import psycopg2
import random 
import string
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta
from dateutil.relativedelta import relativedelta
from itertools import accumulate
from itertools import repeat
import time
import xlsxwriter

In [4]:
# Insert your username into the textbox and hit enter
username = input("Please enter your username: ")

Please enter your username: ckilpatrick

In [5]:
# Insert your password into the textbox and hit enter
password = input("Please enter your password: ")

Please enter your password: Pieing19

In [6]:
db_postgres = create_engine('postgresql://'+username+':'+password+'@localhost:7005/drc')

In [7]:
#######################################
print('Setting everything up...')
#######################################

import warnings
warnings.filterwarnings('ignore')
import pandas_gbq 
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from matplotlib.lines import Line2D

import matplotlib.ticker as ticker
import matplotlib.cm as cm
import matplotlib as mpl

import matplotlib.pyplot as plt

import seaborn as sns

DATASET = 'aou-pdr-data-prod.rdr_ops_data_view'
PROJECT = 'aou-pdr-data-prod'


pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.0f' % x)

import os
import sys
import mysql.connector
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta
import time



plt.style.use('ggplot')
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 999

from IPython.display import HTML as html_print

def cstr(s, color='black'):
    return "<text style=color:{}>{}</text>".format(color, s)

Setting everything up...

In [8]:
df = '''
SELECT   date,
contact_email
                , CASE WHEN u.data_use_agreement_completion_time IS NULL
                           THEN u.data_use_agreement_bypass_time
                       ELSE u.data_use_agreement_completion_time
                END                                                                                            AS data_use_agreement_date
                , cast(wksp.cost as float)
                , u.access_tier_short_names as users_access_tier
                ,wksp_data_access_tier as workspace_access_tier
               ,       active_researcher_registration_status,
                Dua_institution,
                Dua_user,
                inst_category,
                 inst_name,
                inst_diversity,
                           usr_role,
                           wksp.wksp_creation_time,
                           usr_workspace_count,
                           usr_workspace_role,
                           workspace_id


FROM rwb.mv_rwb_users u
         LEFT JOIN (SELECT max(TO_TIMESTAMP(usage.snapshot_timestamp / 1000)    )                               AS date,
                           REPLACE(INITCAP(w.wksp_billing_account_type), '_', ' ')                              AS billing_account_type,
                           INITCAP(w.wksp_billing_status)                                                       AS billing_status,
                           w.wksp_creator_id,
                           w.wksp_workspace_id,
                           --CASE WHEN w.wksp_data_access_tier = 'registered' THEN 'Registered Tier Only'
                               -- WHEN w.wksp_data_access_tier = 'controlled' THEN 'Controlled Tier'
                           --ELSE NULL END                                                                        AS data_access_tier
                           wksp_data_access_tier,
                           usage.cost,
                           inst_agreement_status_rt as Dua_institution,
                           usr_data_use_agreement_completion_time as Dua_user,
                           ib.inst_category,
                           ib.inst_name,

case when((
inst_div_associates = 1 or
inst_div_doctoral_dpu =1 or
inst_div_doctoral_high=1 or
inst_div_fqhc = 1 or
inst_div_masters_medium =1 or
inst_div_masters_small= 1 or
inst_div_mixed_ba =1 or
inst_div_rural= 1 or
inst_ubw_aanapisi = 1 or
inst_ubw_annhi = 1 or
inst_ubw_hbcu =1 or
inst_ubw_hsi =1 or
inst_ubw_nasnti = 1 or
inst_ubw_pbi = 1 or
inst_ubw_tcu =1 or
inst_ubw_cc =1 ) and inst_div_focus_medical != 1) then 'diverse' else null end as inst_diversity,
                           inst_under_resourced,
                           usr_registration_status as active_researcher_registration_status,
                           usr_role,
                           w.wksp_creation_time,
                           usr_workspace_count,
                           usr_workspace_role,
                           usage.workspace_id

                    FROM ssad_dm.mv_rwb_workspaces_blend w
                        LEFT JOIN rwb.mv_rwb_workspace_free_tier_usages_history usage ON (w.wksp_workspace_id = usage.workspace_id)
                        LEFT JOIN rwb.mv_rdr_workspace rdr ON (rdr.workspace_source_id = w.wksp_workspace_id)
                        LEFT JOIN rwb.mv_rdr_workspace_users wksp_usr ON (wksp_usr.workspace_id = w.wksp_workspace_id)
                        left join ssad_dm.mv_rwb_researchers_blend re on  w.wksp_creator_id = re.usr_user_id
                 left join ssad_dm.mv_rwb_institutions_blend ib on ib.inst_institution_id = re.usr_institution_id
                    WHERE rdr.exclude_from_public_directory = 0
                        AND rdr.status = 'ACTIVE'
                        AND w.wksp_creation_time >= '2020-05-27'
             group by billing_account_type,wksp_billing_status,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
                ) wksp ON (u.user_id = wksp.wksp_creator_id)



WHERE u.institution_id IS NOT NULL
  AND u.institution_id NOT IN (0,1)
  AND u.disabled = false
  AND (u.data_use_agreement_completion_time >= '2020-05-27'
       OR u.data_use_agreement_bypass_time >= '2020-05-27')
   

group by 1,2,3,5,6,7,8,9,10,11,12,13,15,16,17,contact_email,cost,wksp_creation_time
order by contact_email
 '''
df = pd.read_sql(df, db_postgres)
print('Done!')

Done!

In [9]:
text= df['contact_email']

In [12]:
import hashlib

In [13]:

def text_to_id(text):
    # Use SHA-256 for hashing
    sha256 = hashlib.sha256()
    
    # Update the hash object with the text
    sha256.update(text.encode())
    
    # Get the hexadecimal representation of the hash and convert it to an integer
    numerical_id = int(sha256.hexdigest(), 16)
    
    return numerical_id

# Example usage
text = "example_text"
numerical_id = text_to_id(text)

print("Text:", text)
print("Numerical ID:", numerical_id)

Text: example_text
Numerical ID: 41942587225713118770684254611832599037284481291828554082367434442334202413934

In [14]:
df['NumericalID'] = df['contact_email'].apply(text_to_id)

In [15]:
df.drop(columns=['contact_email'], inplace=True)

In [16]:
column_order = ['date', 'NumericalID'] + [col for col in df.columns if col != 'date' and col != 'NumericalID']
df = df[column_order]

In [19]:
desired_length = 20

In [22]:
df['NumericalID'] = df['NumericalID'].apply(lambda x: int(str(x)[:desired_length]))

In [23]:
df

,date,NumericalID,data_use_agreement_date,cost,users_access_tier,workspace_access_tier,active_researcher_registration_status,dua_institution,dua_user,inst_category,inst_name,inst_diversity,usr_role,wksp_creation_time,usr_workspace_count,usr_workspace_role,workspace_id
0,NaT,11254730725506350632,2022-09-22 02:07:39,NaN,None,None,None,None,NaT,None,None,None,None,NaT,None,None,NaN
1,2022-09-12 00:00:00+00:00,59895191102367420068,2022-09-09 05:58:05,0,None,Controlled Tier,Expired Only,Complete,2022-09-09 05:58:04,Academic Institution,"California State University, San Bernardino",diverse,Undergraduate,2022-09-09 23:09:22,Created >= 1 Workspace,Owner,4720
2,2022-09-13 00:00:00+00:00,59895191102367420068,2022-09-09 05:58:05,0,None,Controlled Tier,Expired Only,Complete,2022-09-09 05:58:04,Academic Institution,"California State University, San Bernardino",diverse,Undergraduate,2022-09-09 23:09:22,Created >= 1 Workspace,Owner,4720
3,2022-09-14 00:00:00+00:00,59895191102367420068,2022-09-09 05:58:05,0,None,Controlled Tier,Expired Only,Complete,2022-09-09 05:58:04,Academic Institution,"California State University, San Bernardino",diverse,Undergraduate,2022-09-09 23:09:22,Created >= 1 Workspace,Owner,4720
4,2022-09-15 00:00:00+00:00,59895191102367420068,2022-09-09 05:58:05,0,None,Controlled Tier,Expired Only,Complete,2022-09-09 05:58:04,Academic Institution,"California State University, San Bernardino",diverse,Undergraduate,2022-09-09 23:09:22,Created >= 1 Workspace,Owner,4720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771612,2023-09-10 00:00:00+00:00,44339805730357262231,2022-09-13 02:34:00,2,None,Registered Tier,Expired Only,Complete,2022-09-13 02:34:02,Academic Institution,"University of Wisconsin, Madison",None,Project Personnel,2022-09-13 02:39:23,Created >= 1 Workspace,Owner,4739
1771613,2023-09-11 00:00:00+00:00,44339805730357262231,2022-09-13 02:34:00,2,None,Registered Tier,Expired Only,Complete,2022-09-13 02:34:02,Academic Institution,"University of Wisconsin, Madison",None,Project Personnel,2022-09-13 02:39:23,Created >= 1 Workspace,Owner,4739
1771614,NaT,11252510765131465290,2023-01-11 01:16:07,NaN,registered,None,None,None,NaT,None,None,None,None,NaT,None,None,NaN
1771615,NaT,11199418614534289235,2023-03-15 01:46:15,NaN,None,None,None,None,NaT,None,None,None,None,NaT,None,None,NaN
1771616,NaT,52090988960815375034,2023-05-09 19:01:38,NaN,None,None,None,None,NaT,None,None,None,None,NaT,None,None,NaN

In [24]:
df['cost'].max()

15848.568257000015

In [25]:
df.to_csv('written.csv' ,index = False)